Configuração do Node-Red/Current Flows.json
[
    {
        "id": "8e600a1d9cc6877a",
        "type": "tab",
        "label": "ESP32 e Google Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b3a5e6c865b5a25",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Minha lâmpada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada do Meu Quarto",
        "name": "Lâmpada Robson",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarLampada",
        "onvalue": "0",
        "onvalueType": "num",
        "offvalue": "1",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "13e2b7aeb791786d",
                "fe0e8995374b95d4"
            ]
        ]
    },
    {
        "id": "13e2b7aeb791786d",
        "type": "debug",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "fe0e8995374b95d4",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarLampada",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "645fe0a9ccf3ec8b",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada",
        "name": "Lâmpada da Bancada",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBancada",
        "onvalue": "0",
        "onvalueType": "num",
        "offvalue": "1",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "13e2b7aeb791786d",
                "677f73033bfdea01"
            ]
        ]
    },
    {
        "id": "7950712dd4c9cd16",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Caixa de Som",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Caixa de Som do Notebook",
        "name": "Caixa de Som",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarSom",
        "onvalue": "0",
        "onvalueType": "num",
        "offvalue": "1",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "13e2b7aeb791786d",
                "94d5e78081efbff1"
            ]
        ]
    },
    {
        "id": "d5d6febd84ac0471",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Cooler",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": true,
        "errorifstateunchaged": false,
        "statepayload": false,
        "brightnessoverride": "",
        "roomhint": "Cooler do Meu Quarto",
        "name": "Cooler",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarCooler",
        "onvalue": "0",
        "onvalueType": "num",
        "offvalue": "1",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "13e2b7aeb791786d",
                "50c566708019f05b"
            ]
        ]
    },
    {
        "id": "94d5e78081efbff1",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarSom",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "50c566708019f05b",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarCooler",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "677f73033bfdea01",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBancada",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "7370dfbd73b8395c",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Bluetooth",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Bluetooth",
        "name": "Bluetooth Robson",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBluetooth",
        "onvalue": "0",
        "onvalueType": "num",
        "offvalue": "1",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "666fe101703abe94",
                "13e2b7aeb791786d"
            ]
        ]
    },
    {
        "id": "666fe101703abe94",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBluetooth",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "e7998a482d812f10",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor6",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 1020,
        "wires": []
    },
    {
        "id": "98bc46a355beafe9",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor7",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 1100,
        "wires": []
    },
    {
        "id": "62277d6a923881cd",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor8",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 1160,
        "wires": []
    },
    {
        "id": "37a978e00d6490b7",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "interruptor 6",
        "label": "Interruptor 6",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor6",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "e7998a482d812f10",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "712df2348c7f773d",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 7",
        "label": "Interruptor 7",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor7",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "98bc46a355beafe9",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "5bb5c7579a53c05b",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "Interruptor 8",
        "label": "Interruptor 8",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor8",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "62277d6a923881cd",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "cadb6adfd191a802",
        "type": "debug",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 860,
        "wires": []
    },
    {
        "id": "19bb44df62dee1e4",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBancada",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "f36b81a0334d096f",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarCooler",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 800,
        "wires": []
    },
    {
        "id": "b11a4ee7225ded93",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarSom",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 860,
        "wires": []
    },
    {
        "id": "5890966d1158db1a",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "label": "Lâmpada da Bancada",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBancada",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "19bb44df62dee1e4",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "2bf7399a8482d2a7",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "label": "Cooler",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarCooler",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "f36b81a0334d096f",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "67b11f3d0ae73f9b",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "label": "Caixa de Som",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarSom",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "b11a4ee7225ded93",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "b292c248b3ab53dd",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarLampada",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "31090318e82cb912",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "label": "Lâmpada do Meu Quarto",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarLampada",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "b292c248b3ab53dd",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "f4d6fe7dd489dc7e",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBluetooth",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 780,
        "y": 940,
        "wires": []
    },
    {
        "id": "9e5c30a1696a865b",
        "type": "ui_switch",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "label": "Bluetooth",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarBluetooth",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "f4d6fe7dd489dc7e",
                "cadb6adfd191a802"
            ]
        ]
    },
    {
        "id": "ea8f7e2dca46e721",
        "type": "ui_gauge",
        "z": "8e600a1d9cc6877a",
        "name": "Temperatura",
        "group": "f12b6b658291d542",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "deg C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 1240,
        "wires": []
    },
    {
        "id": "207397d891a736a8",
        "type": "ui_gauge",
        "z": "8e600a1d9cc6877a",
        "name": "Umidade",
        "group": "f12b6b658291d542",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d064239b4092a8e9",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "topic": "ESP32-MinhaCasa/QuartoRobson/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "ae4b8351.dfe6f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 1300,
        "wires": [
            [
                "ea8f7e2dca46e721"
            ]
        ]
    },
    {
        "id": "60439763a3187d17",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "topic": "ESP32-MinhaCasa/QuartoRobson/Umidade",
        "qos": "2",
        "datatype": "auto",
        "broker": "ae4b8351.dfe6f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 1380,
        "wires": [
            [
                "207397d891a736a8"
            ]
        ]
    },
    {
        "id": "ecd95f264f5fcd2a",
        "type": "ui_spacer",
        "z": "8e600a1d9cc6877a",
        "name": "spacer",
        "group": "40d13ed77576d565",
        "order": 1,
        "width": "1",
        "height": "1"
    },
    {
        "id": "bf2335351d119ded",
        "type": "noraf-config",
        "name": "Nora",
        "group": "Casa",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Robson's House",
        "storeStateInContext": true
    },
    {
        "id": "03fa7ff17c898856",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.15.25",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d7c12b74.277828",
        "type": "ui_group",
        "name": "Interruptores",
        "tab": "f57a184e.4f4fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f12b6b658291d542",
        "type": "ui_group",
        "name": "Previsão do Tempo",
        "tab": "f57a184e.4f4fa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae4b8351.dfe6f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.15.25",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "40d13ed77576d565",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f57a184e.4f4fa",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]