Configuração do Node-Red/Current Flows.json
[{"id":"8e600a1d9cc6877a","type":"tab","label":"ESP32 e Google Assistant","disabled":false,"info":"","env":[]},{"id":"2b3a5e6c865b5a25","type":"noraf-light","z":"8e600a1d9cc6877a","devicename":"Minha lâmpada","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":true,"errorifstateunchaged":true,"statepayload":true,"brightnessoverride":"","roomhint":"Quarto do Robson","name":"Lâmpada Robson","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32-MinhaCasaQuartoRobson/Lampada/LigarLampadaQuartoRobson","onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":130,"y":140,"wires":[["13e2b7aeb791786d","fe0e8995374b95d4"]]},{"id":"856512d9325f1afe","type":"function","z":"8e600a1d9cc6877a","name":"Envio de MSG","func":"newmsg = msg;\n\nif (msg.payload.on){\n    newmsg.payload = 1;\n}else {\n    newmsg.payload = 0;\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":160,"wires":[["e3ed24abfa92c140"]]},{"id":"13e2b7aeb791786d","type":"debug","z":"8e600a1d9cc6877a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":460,"wires":[]},{"id":"fe0e8995374b95d4","type":"mqtt out","z":"8e600a1d9cc6877a","name":"Envia ao Broker","topic":"ESP32-MinhaCasaQuartoRobson/Lampada/LigarLampadaQuartoRobson","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"03fa7ff17c898856","x":740,"y":140,"wires":[]},{"id":"e3ed24abfa92c140","type":"debug","z":"8e600a1d9cc6877a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":460,"wires":[]},{"id":"645fe0a9ccf3ec8b","type":"noraf-light","z":"8e600a1d9cc6877a","devicename":"Lâmpada do Rodrigo","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":true,"errorifstateunchaged":true,"statepayload":true,"brightnessoverride":"","roomhint":"Quarto do Kinha","name":"Lâmpada Kinha","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32-MinhaCasaQuartoKinha/Lampada/LigarLampadaQuartoKinha","onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":140,"y":200,"wires":[["13e2b7aeb791786d","677f73033bfdea01"]]},{"id":"7950712dd4c9cd16","type":"noraf-light","z":"8e600a1d9cc6877a","devicename":"Lâmpada da cozinha","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":true,"errorifstateunchaged":true,"statepayload":true,"brightnessoverride":"","roomhint":"Cozinha","name":"Lâmpada da Cozinha","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32-MinhaCasaCozinha/Lampada/LigarLampadaCozinha","onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":120,"y":320,"wires":[["13e2b7aeb791786d","94d5e78081efbff1"]]},{"id":"d5d6febd84ac0471","type":"noraf-light","z":"8e600a1d9cc6877a","devicename":"Lâmpada da Val","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":true,"errorifstateunchaged":true,"statepayload":false,"brightnessoverride":"","roomhint":"Quarto da Val","name":"Lâmpada Val","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32-MinhaCasaQuartoVal/Lampada/LigarLampadaQuartoVal","onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":150,"y":260,"wires":[["13e2b7aeb791786d","50c566708019f05b"]]},{"id":"94d5e78081efbff1","type":"mqtt out","z":"8e600a1d9cc6877a","name":"Envia ao Broker","topic":"ESP32-MinhaCasaCozinha/Lampada/LigarLampadaCozinha","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"03fa7ff17c898856","x":740,"y":320,"wires":[]},{"id":"50c566708019f05b","type":"mqtt out","z":"8e600a1d9cc6877a","name":"Envia ao Broker","topic":"ESP32-MinhaCasaQuartoVal/Lampada/LigarLampadaQuartoVal","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"03fa7ff17c898856","x":740,"y":260,"wires":[]},{"id":"677f73033bfdea01","type":"mqtt out","z":"8e600a1d9cc6877a","name":"Envia ao Broker","topic":"ESP32-MinhaCasaQuartoKinha/Lampada/LigarLampadaQuartoKinha","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"03fa7ff17c898856","x":740,"y":200,"wires":[]},{"id":"636185a45e7d4bff","type":"function","z":"8e600a1d9cc6877a","name":"Envio de MSG","func":"newmsg = msg;\n\nif (msg.payload.on){\n    newmsg.payload = 1;\n}else {\n    newmsg.payload = 0;\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":220,"wires":[["e3ed24abfa92c140"]]},{"id":"73428d1061fe2cc5","type":"function","z":"8e600a1d9cc6877a","name":"Envio de MSG","func":"newmsg = msg;\n\nif (msg.payload.on){\n    newmsg.payload = 1;\n}else {\n    newmsg.payload = 0;\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["e3ed24abfa92c140"]]},{"id":"ad5c30d0ee11d4ba","type":"function","z":"8e600a1d9cc6877a","name":"Envio de MSG","func":"newmsg = msg;\n\nif (msg.payload.on){\n    newmsg.payload = 1;\n}else {\n    newmsg.payload = 0;\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["e3ed24abfa92c140"]]},{"id":"7370dfbd73b8395c","type":"noraf-light","z":"8e600a1d9cc6877a","devicename":"Bluetooth","lightcolor":false,"brightnesscontrol":false,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":true,"errorifstateunchaged":true,"statepayload":true,"brightnessoverride":"","roomhint":"Quarto do Robson","name":"Bluetooth Robson","colortype":"hsv","nora":"bf2335351d119ded","topic":"ESP32-MinhaCasaQuartoRobson/Bluetooth/LigarBluetooth","onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","temperaturemin":"2700","temperaturemax":"5500","twofactor":"off","twofactorpin":"","filter":false,"x":110,"y":380,"wires":[["666fe101703abe94"]]},{"id":"4bbeb9c8cb9d2c3e","type":"function","z":"8e600a1d9cc6877a","name":"Envio de MSG","func":"newmsg = msg;\n\nif (msg.payload.on){\n    newmsg.payload = 1;\n}else {\n    newmsg.payload = 0;\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":400,"wires":[[]]},{"id":"666fe101703abe94","type":"mqtt out","z":"8e600a1d9cc6877a","name":"Envia ao Broker","topic":"ESP32-MinhaCasaQuartoRobson/Bluetooth/LigarBluetooth","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"03fa7ff17c898856","x":740,"y":380,"wires":[]},{"id":"ecd95f264f5fcd2a","type":"ui_spacer","z":"8e600a1d9cc6877a","name":"spacer","group":"40d13ed77576d565","order":1,"width":"1","height":"1"},{"id":"bf2335351d119ded","type":"noraf-config","name":"Robson Brasil","group":"Casa","twofactor":"off","twofactorpin":"","localexecution":true,"structure":"Robson's House","storeStateInContext":true},{"id":"03fa7ff17c898856","type":"mqtt-broker","name":"MQTT Broker","broker":"192.168.15.3","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthRetain":"false","birthPayload":"Payload","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"Payload","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"40d13ed77576d565","type":"ui_group","name":"Group 1","tab":"f534f92768904493","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f534f92768904493","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]